body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: linear-gradient(155deg, #f3f7ff, #ffffff, #fdfff5);
}

.card {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

  .card-deck1 {
    background-color: #f0e1a7;
    
  } 

  .body-card {
    background-color: #005E54;
  }

  .button-hover-dark:hover {
    color: #212529 !important; /* Cor do texto dark */
  }

  .button-selected {
    color: #212529 !important; /* Cor do texto dark */
  }

  .modal-backdrop.show {
    background-color: rgb(3, 3, 3) !important; /* Fundo mais escuro */
  }

  .card1 {
    background: transparent;
    border: none;

  }
  
  .card-gradient {
    background-image: url(/card11.png);
    background-size:contain; /* Ajusta a imagem para cobrir todo o card */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    padding: 16px;

    box-shadow: 0 4px 6px rgba(88, 88, 88, 0.3);
    cursor: pointer;
    width: 88px;
    height: 120px;
    border-radius: 12px;
}


.deck3 {
  background: radial-gradient(circle, #D0021B, #4A90E2, #50E3C2 );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.mod3 {
  background: radial-gradient(circle, #D0021B, #4A90E2, #50E3C2 );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}
